@mixin crearBoton($color,$coloLetra,$tamanio,$colorCambioHover){
    flex-direction: row;
    background-color: $color;
    color: $coloLetra;
    padding: $tamanio;
    font-size: 15px;
    text-decoration: none;
    border:none;

    &:hover{
        background-color: $colorCambioHover;
    }

}

@mixin dispositivos($pantalla){
    @media (min-width:$pantalla) {
        @content;
    }
}