$color_boton: #007bff;
$color_letra_boton:white;
$color_fondo: #b6b6b6;
$color_span: #ea00ff;
$color_texto:#212529;
$color_articulo:white
;


//tamaño
$tamanio_boton:10px;


//qerrys

$tablet:480px;
$monitor:780px;
