//colores
$color_boton: #007bff;
$color_letra_boton:white;
$color_fondo: #b6b6b6;
$color_span: #ea00ff;
$color_texto:#212529;
$color_articulo:white;
$color_hover: red;


//tamaño
$tamanio_boton:10px;


//qerrys

$tablet:480px;
$monitor:780px;

//tamaño articulo

$anchoTablet: calc((100%/2) - (1rem/2));
$anchoMonitor: calc((100%/3) - (2rem/3));
